.jumbotron
{
  background: url('http://1.bp.blogspot.com/-hRJUT13Ir88/Uh94dKLxS6I/AAAAAAAAHWo/zbUrHA-17ms/s1600/Twilight-Background-Images1.jpg') no-repeat center center;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
} 

body{
	background-color: rgb(77, 0, 0);
}
