<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


	<title>TWIIHARD</title>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/fanfictions">Fanfictions</a>
  <a href="/facts">Facts</a>
  <a href="/about">About</a>
</div>

<p style="font-size:250%;color: white">1) In Edward's human life, he had many advantages beacuse his father was a successful lawyer. He got to attend privaye school and he got to take music lessons. Edward excelled at his studies and became a successful pianist. <br> 2) In the book, Breaking Dawn, Jacob is constantly making blonde jokes to annoy Rosalie. <br> 3) The crystal heart that Edward gave Bella is an actual diamomd that belonged to his mother. <br> 4) Edward was born on June 20th, 1901. <br> 5) Bella Swan was born on September 13th, 1987. <br> 6) Alice and Japer joined the Cullens in the 1950s. <br> 7)The title Eclipse represents choice. <br> 8) Renesmee has a body temperature of 105 degrees Fahrenheit. <br> 9) Edward was turned into a vampire in 1918. <br> 10)Bella was turned into a vampire in 2006. </p>





</body>
</html>