<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


	<title>TWIIHARD</title>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/fanfictions">Fanfictions</a>
  <a href="/facts">Facts</a>
  <a href="/about">About</a>
</div>

<p style="font-size:250%;">Fanfiction(1)</p>
<p style="font-size:200%;">In a world where magic has ceased to exist for hundreds of years, a sole male possesses an unknown power. It slumbers deep within him, churning and pleaded to come out.

But, he does not know what it is.

He's an everyday, ordinary man, with a mediocre job and tiny apartment and an obnoxious downstairs neighbor. Edward Cullen does not know what is in store for him when something inside him awakens and makes him the most powerful man in the world.

Goodbye, mediocrity ...

She is like him, ordinary, mediocre and stuck in a loveless marriage to a monster where she endures his anger and rage. But, within her soul, is another type of energy. It keeps her alive and pushes her forward, but she wishes it would just go away. Isabella Black just wants to end the nightmare of her life and start new.

Walking into a lawyer's office, she meets Edward Cullen and something between the two of them sparks. Not as a client and attorney.

Something deeper ...

Could it be the magic within?</p>

<p style="font-size:250%;">Fanfiction(2)</p>
<p style="font-size:200%;">Edward Cullen is the heir-apparent to the most infamous crime families in Chicago. He was notorious for his time with his enemies, his many dates and his ruthless skill in the board room, the front for the illicit dealings of the Cullen Crime Consortium. However, to take over the family, his father reminded him about the stipulation that Edward needed to be married. Edward hated that stipulation, but he agreed to it and he had less than a year to make it a reality.

Isabella Swan is a struggling graduate student, working as a waitress in a local diner, The Swan Dive. On a chance meeting, Edward finds Bella to be enchanting and the perfect woman to marry. He makes an indecent proposal, suggesting marriage and paying for Bella’s tuition, and then some. Will Bella accept his proposal, with the possibility of having her dreams come true, but married to a sexy, enigmatic rich businessman? Or will she figure out the truth, that her future-husband is Married to the Mob?</p>

<p style="font-size:250%;">Fanfiction(3)</p>
<p style="font-size:200%;">Annie Portman is a single woman, fetching, lucky, self-confident and in love (or slightly obsessed?) with all things Twilight.
Leading exactly the life she had planned for herself, she doesn't miss a thing.
Until one day she happens to see her own personal Edward.
Her fantasies start running wild about that beautiful boy, a perfect stranger and way too young to even think about it...

THIS IS NOT YOUR AVERAGE TWI-FIC!
You will find a few of our beloved Twilight characters in this story, but then again not. It's rather a story about people who love Twilight. Or you can say, our Twilight characters are starring in a Twilight story within a Twilight story. Now I'm confused myself...

Nah.... it's not THAT difficult. It's a love story, full of nods towards, and quotes from our beloved series. It has an Edward to fall in love with, a female lead you'll wish to change places with and the probably weirdest OOC Alice you will ever meet in the entire fandom. I think...?

Beta'd by my beautiful friend Uhyesplease.</p>

<p style="font-size:250%;">Fanfiction(4)</p>
<p style="font-size:200%;">Dr. Edward Masen lived a lonely, miserable existence as an emergency room attending at Harborview Medical Center. He ate, breathed and lived for his job. He refused to even think about women. To him, they were only distractions and he didn't trust anyone, except his mother. 

Dr. Isabella Swan just moved to Seattle, after completing her residency in Chicago. She was hired as a pediatrician at Harborview, becoming a pediatric emergency room fellow. She was not looking for a relationship, only focusing on her job. It was hate at first sight for both. Or was it? But, their attraction could not be denied. 

Unfortunately, a natural disaster rattles their lives ... the world was turned upside down when escalating earthquakes plagued the Seattle area. Will they able to survive the danger of being on Shaky Ground? </p>

<p style="font-size:250%;">Fanfiction(5)</p>
<p style="font-size:200%;">Bella Swan was dreading going back to her ten year high school reunion, over Valentine’s Day Weekend, for Hillsborough High School. Her time in high school in Tampa, Florida was not high on her list of pleasant experiences. She was quiet, unassuming and secretly in love with Edward Cullen. It was that unrequited love that forced her to move away to Seattle, as far from Tampa as possible. He never knew she existed. Or so she thought.
Edward was looking forward to his high school reunion because he was anxious to see the one that got away. Bella Swan was the quiet girl who never really interacted with anyone, but Edward saw that she was something special. But as ruler of the school, he had certain expectations to maintain. It was one of his biggest regrets. His life would have been easier if he had followed his heart. Now, he was a divorced father of two. His ex-wife, Tanya, who was his high school girlfriend, left him for a younger man and abandoned her children.
Will Bella be happy to see Edward or will she stay hidden among her classmates? Will Edward finally break the mold that was expected of him and open up his heart to the beautiful and shy Bella Swan? Will he be able to win back the one that got away?</p>




</body>
</html>